:root{
  --primary: rgba(240, 245, 240, 0.9); /* main text */
  --secondary:  #80b7ff;
  --tertiary: #f9ff9e;
  --accent: #ff86ad;            /* softened aerospace pink */
  --profilebg: rgba(240, 242, 245, 0.4);
  
  --boxbg: rgba(5, 48, 75, 0.614);
  --cmpny: #ff5462;
  --glow: rgba(108, 199, 255, 0.614);
}