*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: var(--background);
    color:var(--primary);
}



/* HEADER PAGE */


#header{ /*first page background*/
    width: 100%;
    height: 100vh;
    background-image: url(images/Background2.jpg);
    background-size: cover;
    background-position: center;
    
}

.container{
    padding: 10px 10%; /*10px top and bot, 10% left and right */
    
    width: 100%;
    background-color: black;
    backdrop-filter: blur(6px);
    position: fixed;
    z-index: 1000; 
}
nav{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    
}

.logo{
    width: 200px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
} 
/*for the text*/
nav ul li a{
    color: var(--primary);
    text-decoration: none; /* removes underline */
    font-size: 18px;
    position: relative;
    transition: color 0.25s ease-in-out
}

nav ul li a:hover{
    color: var(--accent);
}

nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background: var(--accent);
    position: absolute;
    left: 0%;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease-in-out;
}

nav ul li a:hover::after{
    transform:scaleX(1)
}


#about{
    padding: 80px;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.profile-pic-wrapper { 
    width: 350px;
    height: 350px;
    border-radius: 100%; 
    border-color: var(--accent);
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-left: 0%;
    margin-top: 10%;
} 

.profile-pic { 
    background-color: var(--profilebg);
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.clickicon{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-left: 0%;
    margin-top: 5%;
}

.cv{
    width: 80px;
}
.linkedin{
    width: 80px;
}
.mail{
    width: 80px;
}


.title-text{
    flex-basis: 55%; /*sets the size of the column*/
    margin-top: 15%;
    margin-right: -10%;
    font-size: 40px;
}
.vanilla-text{
    color: var(--primary);
    font-size: 30px;
    font-family:'Courier New', Courier, monospace
}

.name-title span{
    color: var(--tertiary);
    font-weight: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.proftitle-text{
    color: var(--tertiary);
    font-size: 25px;
}
.desc-text{
    font-size: 20px;
}

.tab-titles{
    display:flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: var(--secondary);
    transition: color 0.5s ease-in-out;

    
}

.jumplink{
    text-decoration: none; /* removes underline */
    color: var(--secondary);
    transition: color 0.5s ease-in-out;
}

.jumplink:hover{
    color: white;
}


.tab-links::after,
.tab-links::before{
    content: '';
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    position: absolute;
    left: 0%;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease-in-out;
}

.tab-links::before{
    top: -5px;
    transform-origin: left;
}

.tab-links:hover::after,
.tab-links:hover::before{
    transform:scaleX(1)
}

/* EXPERIENCE PAGE */

#experience{ /*first page background*/
    width: 100%;
    height: auto;
    background-image: url(images/Background3.jpg);
    background-size: cover;
    background-position: center;
    
}

.experience-container{
    padding: 30px 10%; /*10px top and bot, 10% left and right */
    display:flex;
    justify-content: center;
    align-items: center;
}

.timeline-work{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax (300px, lfr));
}

.heading{
    font-size: 2.5rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content-frame{
    display:flex;
    align-items: center;
    gap:0.5rem;
    padding: 0.5rem;
}
.content-frame img{
    width: 100px;
    height: 100px;
    border-radius: 20px 20px;
}

.content-box{
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    margin: 0 2rem;
    background-color: var(--boxbg);
    border: 3px solid #ffffff;
    border-radius: 20px 2.5px;
    font-size: 14px;
    transition: 0.4s ease; 
    cursor: pointer;
    position:relative;
    width: 80%;
}


.content-box:hover{
    box-shadow: 0 0 25px var(--glow);
    border: 3px solid var(--glow);
}

.content-box h3{
    font-size: 1.5rem;
}

.content-box h3 span{
    color: var(--cmpny)
}

.date{
    font-size: 1.2rem;
    color: var(--profilebg);
    font-weight: 700;
}
.content-box p span{
    color: var(--secondary)
}

.inline-hyper{
    color: var(--hyperlink)
}




/* ACADEMICS PAGE */

#academics{ /*first page background*/
    width: 100%;
    height: auto;
    background-image: url(images/Background3.jpg);
    background-size: cover;
    background-position: center;
    
}

.academics-container{
    padding: 30px 10%; /*10px top and bot, 10% left and right */
    display:flex;
}

.academics-box{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax (300px, lfr));
    width: 100%;
}

.heading{
    font-size: 2.5rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.edu-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--boxbg);
    border-radius: 20px 20px;
    margin-bottom: 10px;
}
.edu-col1{
    flex-basis: 25%; /*sets the size of the column*/
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center; 
    
}

.edu-image-row img{
    width: 80px;
    height: 80px;
    border-radius: 20px 20px;
}


.edu-institution{
    font-size: 1.5rem;
    color: var(--tertiary)
}
.edu-date{
    font-size: 1.25rem;
    color: var(--primary)
}


.edu-col2{
    flex-basis: 70%; /*sets the size of the column*/
    margin-top: 2.5%;
    margin-left: 4%;
    margin-bottom: 2.5%;
    font-size: 1.0rem;
    
}

.edu-degree span{
    color: var(--tertiary)
}

.edu-publications{
    font-size: 2.5rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    display:grid;
}

.edu-pub-title{
    width: 100%;
}

.edu-pub-title h2{
    font-size: 2rem;
    text-align: center;
    position: relative;
}
.edu-pub-title h2::after{
    background-color: var(--secondary);
    width: 50%;
    height: 2px;
    bottom: -2px;
    left: 25%; /*centering: (1-width)/2*/
    content: '';
    position: absolute;
    display:flex;
}

.edu-pub-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edu-pub-col{
    
    flex-basis: 45%;
    font-size: 1rem;
    text-align: center;

    /* background-color: var(--boxbg);
    border: 3px solid var(--secondary);
    border-radius: 10px 10px; */
}
.edu-pub-col-title{
    font-size: 1.15rem;
    color: var(--primary);
    font-weight: bold;
}
.edu-pub-col-doi{
    font-size: 1rem;
    color: var(--secondary);
    margin-top: 10px;
}

.edu-pub-container{
    position: relative;
    margin-top: 20px;
}
.edu-pub-icon{
    width: 95%;
    height: 95%;
    transition: 0.5s;
    object-fit: cover;
}
.edu-pub-backdrop{
    content: '';
    position: absolute;
    top: 50%;
    left:2.5%; /* move it from left by (1-width)/2*/

    width: 0%;
    height: 50%;
    
    background:  var(--backdrop);
    opacity: 0%;
    transition: 0.5s;
}
.edu-pub-rsch-title{
    position: absolute;
    top: 55%;
    left: 5%;

    width: 100%;
    height: 25%;
    color: var(--tertiary);

    opacity: 0%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
   
    transition: 0.5s

}

.edu-pub-rsch-findings{
    position: absolute;
    top: 65%;
    left: 5%;

    width: 90%;
    height: 25%;
    color: var(--secondary);

    opacity: 0%;
    font-size: 0.75rem;
    font-weight: light;
    text-align: left;
   
    transition: 0.5s
}

.edu-pub-rsch-findings span{
    color: var(--primary)
}

.edu-pub-container:hover .edu-pub-backdrop{ /*hover the container to apply effects to textbox*/
    opacity: 100%;
    width: 95%;
}
.edu-pub-container:hover .edu-pub-rsch-title{
    opacity: 100%;
}
.edu-pub-container:hover .edu-pub-rsch-findings{
    opacity: 100%;
}

.edu-piloting{
    overflow:auto;
}
.edu-pilot-stats{
    margin-top: 5px;
    font-size: 1.15rem;
    text-align:center;
    color: var(--primary)
}
.edu-pilot-stats span{
    font-size: 1.5rem;
    color: var(--tertiary)
}
.carousel{
    width: 100%;
    display:flex;
    overflow: hidden;
    margin-top: 10px;
    
}
.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    animation: scrolling 15s infinite linear;

}
.card{
    height: 300px;
    width: 400px;
    padding: 10px;
    top: -150px;
    text-align:center;
    align-content: center;
    position: relative;
    flex-shrink: 0;
}

.card img{
    height: 300px;
    width: 400px;
    border-radius: 20px 20px;
    position: absolute;
}

@keyframes scrolling{
    from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* PROJECTS PAGE */

#projects{ /*first page background*/
    width: 100%;
    height: 200vh;
    background-image: url(images/Background3.jpg);
    background-size: cover;
    background-position: center;
    
}

.projects-container{
    padding: 80px 10%; /*10px top and bot, 10% left and right */
    display:flex;
}

.projects-box{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax (300px, lfr));
}

.heading{
    font-size: 2.5rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}